@using BlazorApp1.DTOs
@using BlazorApp1.Services
@using ECommerceApp.DTOs.CustomerDTOs
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject CustomerService CustomerService
@inject AuthState AuthState


<header class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">My E-Commerce</a>

        @* <input type="checkbox" id="menuToggle" class="navbar-toggler" title="Navigation menu" />
        <label for="menuToggle" class="navbar-toggler-icon"></label> *@

        <input type="checkbox" title="Navigation menu" class="navbar-toggler navbar-toggler-icon" />


        <div class="collapse-menu">
            <nav class="navbar-nav ms-auto flex-column flex-lg-row align-items-lg-center">
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-boxes me-1"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="products">
                        <span class="bi bi-person-fill me-1"></span> Dashboard
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="my-order">
                        <span class="bi bi-bag-check-fill me-1"></span> My Orders
                    </NavLink>
                </div>
                @if(AuthState.IsLoggedIn == true)
                {
                    <div class="nav-item px-1">
                        <NavLink class="nav-link" href="profile">
                            <span class="bi bi-people-fill me-1"></span> My Profile
                        </NavLink>
                    </div>
                }
                else
                {
                    <div class="nav-item px-1">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-people-fill me-1"></span> Login
                        </NavLink>
                    </div>
                }

            </nav>
        </div>
    </div>
</header>

<main class="container py-4">
    @Body
</main>

@code {
    private bool loaded = false;
    private string? res ;
    private bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !initialized)
        {
            await AuthState.InitializeAsync(); // safe here ✅
            AuthState.OnChange += StateHasChanged;
            initialized = true;
        }
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender && !loaded)
    //     {
    //         try
    //         {
    //             res = await LocalStorage.GetItemAsync<string>("authToken");
    //         }
    //         catch (InvalidOperationException)
    //         {
    //             Ignored during prerender
    //         }
    //         finally
    //         {
    //             loaded = true;
    //             StateHasChanged(); Render login form after check
    //         }
    //     }
    // }
}
